body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 254, 136);
}

.container {
    display: flex;
    gap: 2px;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.square {
    width: 40px;
    height: 40px;
    background-color: rgb(5, 161, 5);
}

/* .square:hover {
    background-color: rgb(2, 47, 2);
} */

h1 {
    font-family: fantasy;
    text-decoration: underline;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    position: absolute;
    left: 10px;
    padding: 5px;
    margin-top: -10px;
    font-family: fantasy;
    background-color:rgb(239, 91, 37);
    color: aliceblue;
}